<div class="container-fluid">

          <!-- Page Heading -->
          <h1 class="h3 mb-2 text-gray-800">Pacientes registrados</h1>
          <p class="mb-4">Encuentre en los registros la información que necesita de los internos registrados. Para mayor información puede escribirnos a <a target="_blank" href="mailto: soporte@olderadultsapp.com">soporte@olderadultsapp.com</a></p>

          <!-- DataTales Example -->
          <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Internos</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Legajo</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Edad</th>
                      <th>Contacto directo</th>
                      <th>Cuota</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    <tr>
                        <th>{{pacientes.id}}</th>
                        <th>{{pacientes.nombre}}</th>
                        <th>{{pacientes.apellido}}</th>
                        <th>{{pacientes.edad}}</th>
                        <th>{{pacientes.contacto}}</th>
                        <th>{{pacientes.cuota}}</th>
                    </tr>
                    <tr>
                        <th>{{pacientes.id}}</th>
                        <th>{{pacientes.nombre}}</th>
                        <th>{{pacientes.apellido}}</th>
                        <th>{{pacientes.edad}}</th>
                        <th>{{pacientes.contacto}}</th>
                        <th>{{pacientes.cuota}}</th>
                    </tr>
                    <tr>
                        <th>{{pacientes.id}}</th>
                        <th>{{pacientes.nombre}}</th>
                        <th>{{pacientes.apellido}}</th>
                        <th>{{pacientes.edad}}</th>
                        <th>{{pacientes.contacto}}</th>
                        <th>{{pacientes.cuota}}</th>
                    </tr>
                    <tr>
                        <th>{{pacientes.id}}</th>
                        <th>{{pacientes.nombre}}</th>
                        <th>{{pacientes.apellido}}</th>
                        <th>{{pacientes.edad}}</th>
                        <th>{{pacientes.contacto}}</th>
                        <th>{{pacientes.cuota}}</th>
                    </tr>
                    <tr>
                        <th>{{pacientes.id}}</th>
                        <th>{{pacientes.nombre}}</th>
                        <th>{{pacientes.apellido}}</th>
                        <th>{{pacientes.edad}}</th>
                        <th>{{pacientes.contacto}}</th>
                        <th>{{pacientes.cuota}}</th>
                    </tr>
                    <tr>
                        <th>{{pacientes.id}}</th>
                        <th>{{pacientes.nombre}}</th>
                        <th>{{pacientes.apellido}}</th>
                        <th>{{pacientes.edad}}</th>
                        <th>{{pacientes.contacto}}</th>
                        <th>{{pacientes.cuota}}</th>
                    </tr>

                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>
        <!-- /.container-fluid -->